#dropdown,
#favourite {
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    width: 155px;
    margin: 1.2px;
    height: 24px;
}

textarea {
    display: inline-block;
    border: 1px solid black;
    width: 200px;
    margin: 1.2px;
    padding: 2px;
    flex-direction: column;
    resize: both;
    cursor: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: start;
    writing-mode: horizontal-tb;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.5rem;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 12px;
}

.clarus {
    font-size: 1.5rem;
}

#submit-button {
    display: inline-block;
    align-items: flex-start;
    padding: 2px 6px;
    background-color: rgb(192, 192, 192);
    width: 60px;
    height: 28px;
    color: black;
    border: none;
}

.improve-box {
    margin-bottom: 4px;
}